@model BargainBarterV2.Models.ApplicationUser
@{
    ViewBag.Title = Model.Firstname + " " + Model.Lastname;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <div>
                        <h3 class="panel-title pull-left">@Model.Firstname @Model.Lastname</h3>
                    </div>
                    <div>
                        <span class="pull-right">
                            <a href="/UserProfile/Edit/@Model.Id" data-original-title="Rediger profil" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-12 col-lg-12 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Navn</td>
                                        <td>@Model.Firstname @Model.Lastname</td>
                                    </tr>
                                    <tr>
                                        <td>Vej</td>
                                        <td>@Model.Address.StreetName @Model.Address.StreetNumber</td>
                                    </tr>
                                    <tr>
                                        <td>By</td>
                                        <td>@Model.Address.City</td>
                                    </tr>
                                    <tr>
                                        <td>Postnummer</td>
                                        <td>@Model.Address.PostalCode</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>Telefonnummer</td>
                                        <td>@Model.PhoneNumber</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

