@model BargainBarterV2.Models.BarterAdd

@{
    ViewBag.Title = "Create BarterAdd";
}

<h2>Lav en ny annonce!</h2>


@using (Html.BeginForm("Create", "BarterAds", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BarterAdd</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { cols = 40, @rows = 5, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="BarterPicture" id="BarterPicture" style="width: 100%;" />
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            @*<div class="col-md-10">
                <select name="Kategori">
                    <option value="A">Dyr</option>
                    <option value="B">Børn</option>
                    <option value="-">Hustruer</option>
                </select>
                <input type="text" name="other">
                
                <div class="demo-container size-narrow">
                    <h2>Filtering</h2>
                    <telerik:RadComboBox RenderMode="Lightweight" ID="RadComboBox2" AllowCustomText="true" runat="server" Width="500" Height="400px"
                                         DataSourceID="SqlDataSource1" DataTextField="ContactName" EmptyMessage="Search for people...">
                    </telerik:RadComboBox>
                </div>*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opret Annonce" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
