@model IEnumerable<BargainBarterV2.Models.BarterAdd>



@{
    ViewBag.Title = "ShowBarterAd";
}

<h2>BarterAd</h2>

@using (Html.BeginForm("Edit", "BarterAds", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <link href="~/Content/css/ShowBarterAd.css" rel="stylesheet">

    <div class="form-horizontal">
        <h4>Barter Add</h4>
        <hr />
        
        <div class="form-group">
            <div class="col-md-12"  Style="font-size: 21pt">
                @ViewData["Titel"]
            </div>
        </div>

        <div class="form-group" >
            <div class="col-md-12" Style="font-size: 15pt">
                @Html.DisplayNameFor(model => model.Description)
                @ViewData["Description"]
            </div>
       </div>

        <div class="form-group" id="content">
            <div class="col-md-12" Style="font-size: 15pt">
                <img src='@Url.Action("ViewPhoto", new {id = ViewBag.Id})' width="260" height="200" alt="@ViewData["Titel"]"/>
                <p>Billedtekst</p>
            </div>
        </div>
 

        <div class="form-group">
            <div class="col-md-12" Style="font-size: 15pt">
                @Html.DisplayNameFor(model => model.Category)
                @ViewData["Category"]
            </div>

       </div>

        
    </div>
}


<div>
    @Html.ActionLink("Tilbage til oversigt", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

