@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
    <link rel="shortcort icon" href="@Url.Content("~/favicon.ico")"/>
    <link rel="favicon" sizes="32x32" href="~/favicon-32x32.png" />
    <link rel="favicon" sizes="32x32" href="~/favicon-32x32.png"/>
    <link rel="favicon" sizes="96x96" href="~/favicon-96x96.png"/>
    <link href="~/Content/css/default.css" rel="stylesheet">
    <link href="~/Content/css/Home.css" rel="stylesheet" type="text/css" media="screen" runat="server">
    
</head>
<body>

    <!--Header section -->

<header class="row bargainbarter-header-section">
    <a href=@Url.Action("Index", "Home") title="HTML Tutorial">
        <div class="col-md-3">
            <h1 class="title-text">BargainBarter</h1>
        </div>
    </a>
    <div class="col-md-8">
        <h4 class="pull-right text-align-bottom text-muted">Det er altså noget andet end den blå avis</h4>
    </div>
    <div class="col-md-1">
        <img class="pull-right bargainbarter-top-picture" src="~/Content/img/hand-shake-icon-256x256.png" height="63"/>
    </div>
</header>
    <div class="menu-wrapper">
        <nav class="navbar navbar-default" id="navbar-main" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=@Url.Action("Index", "Home")><img class="hidden-xs" src="~/Content/img/BargainBarter.png" alt="BargainBarter"><span class="visible-xs">BargainBarter</span> </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li> <a href=@Url.Action("ShowBarterAdsOnMap", "BarterAds")>Kort</a></li>
                        <li> <a href=@Url.Action("About", "Home")>Konceptet</a></li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Ny annonce", "Create", "BarterAds")</li>

                            @*<li>@Html.ActionLink("Manage Account","Index","Manage")</li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
                        }
                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>*@


                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")


                    @if (Request.IsAuthenticated)
                    {

                        <ul class="nav navbar-nav navbar-right sticky">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profil<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Profil", "ShowUserProfile", "UserProfile", new { id = User.Identity.GetUserId() }, new { @class = "" })</li>
                                    <li>@Html.ActionLink("Mine annoncer", "ManageAds", "BarterAds")</li>
                                    <li>@Html.ActionLink("Show Trade Requests", "ShowTrades", "BarterAds")</li>
                                    <li>@Html.ActionLink("Trade History", "ShowHistory", "BarterAds")</li>
                                    <li role="separator" class="divider"></li>
                                    @*<li class="dropdown-header">Personal settings</li>
                                        <li><a href="#">User Settings</a></li>*@
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log af</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    <div class="col-sm-3 col-md-3 pull-right">
                        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                        {
                            <div class="input-group navbar-form">
                                <input type="text" class="form-control" placeholder="Søg" name="SearchString" id="srch-term">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br />

    @RenderBody()


    <footer>
        Copyright &copy; 2016 BargainBarter<br>
        @*<a href="mailto:officialbargainbarter@gmail.com">officialbargainbarter@gmail.com</a>*@
        <a href=@Url.Action("Contact","Home")>Kontakt os her</a>
    </footer>


    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {

            $(window).scroll(function () {
                //if you hard code, then use console
                //.log to determine when you want the 
                //nav bar to stick.  
                //console.log($(window).scrollTop())
                if ($(window).scrollTop() > 85) {
                    $('#navbar-main').addClass('navbar-fixed-top');
                }
                if ($(window).scrollTop() < 86) {
                    $('#navbar-main').removeClass('navbar-fixed-top');
                }
            });

            $.each($('#navbar-main').find('li'), function () {
                $(this).find('a').toggleClass('active',
                    window.location.pathname.indexOf($(this).find('a').attr('href')) > -1);
            });

            });
    </script>
</body>
</html>
