@model BargainBarterV2.Models.BarterAdd

@{
    ViewBag.Title = "Details";
}



<div class="container">
    <div class="row">
        <div class="well well-lg col-md-8 col-md-offset-2">
            <div class="row">
                <strong>@Model.Titel</strong>
                <i class="pull-right">@Model.Category</i>
            </div>
            <hr />

            <div class="row">
                @if (Model.ApplicationUser != null)
                {
                    @Html.ActionLink(Model.ApplicationUser.Firstname + " " + Model.ApplicationUser.Lastname, "ShowUserProfile",new { id = Model.ApplicationUserId},new {@class = ""})
                }
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src='@Url.Action("ViewPhoto", new {id = Model.BarterAddId})' width="260" height="200" />
                </div>
                <div class="col-md-6">
                    <p>Map goes here</p>
                </div>
            </div>
            <br />
            <div class="row">
                @Model.Description
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("Tilbage til forsiden", "Index", "Home")
        </p>
    </div>
</div>

