

@model IEnumerable<BargainBarterV2.Models.FinishedTrade>


@{
    ViewBag.Title = "Byttehistorik";
}

<h2>Byttehistorik</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BarterAdds.GetEnumerator().Current.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarterAdds.GetEnumerator().Current.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarterAdds.GetEnumerator().Current.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarterAdds.GetEnumerator().Current.Picture)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            @foreach (var trades in item.BarterAdds)
            {

                <td>

                    @Html.DisplayFor(modelItem => trades.Titel)
                </td>
                <td>
                    <img src='@Url.Action("ViewPhoto", new {id = trades.BarterAddId})' width="260" height="200" />
                </td>
            }
        </tr>
    }

</table>
