
@model IEnumerable<BargainBarterV2.Models.TradeHistory>


@{
    ViewBag.Title = "Trade History";
}

<h2>Trade History</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BarterAdds.GetEnumerator().Current.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarterAdds.GetEnumerator().Current.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarterAdds.GetEnumerator().Current.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarterAdds.GetEnumerator().Current.Picture)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        foreach (var trades in item.TradeRequests)
        {


            for (int i = 0; i < trades.BarterAdds.Count; i += 2)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => trades.BarterAdds[i].Titel)
                    </td>
                    <td>
                        <img src='@Url.Action("ViewPhoto", new {id = trades.BarterAdds[i].BarterAddId})' width="260" height="200" />
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => trades.BarterAdds[i + 1].Titel)
                    </td>
                    <td>
                        <img src='@Url.Action("ViewPhoto", new {id = trades.BarterAdds[i + 1].BarterAddId})' width="260" height="200" />
                    </td>
                </tr>
            }

        }
    }

</table>
